


body {
   background-color: bisque;
}



/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
   height: 100%;
   margin: 0;
   font-family: Arial;
 }
 
 /* Style tab links */

 .tablinks {
  /* margin-left: calc(25% - 10px); */
  /* margin-left: calc(15% + 10px); */
  width: 100%;
  position: relative;
 }


 .tablink {
   background-color: #555;
   color: rgb(99, 99, 99);
   /* float: left; */
   position: static;
   border: none;
   outline: none;
   cursor: pointer;
   padding: 14px 16px;
   font-size: 17px;
   width: calc(15% + 10px);
 }
 
 .tablink:hover {
   background-color: #777;
 }
 
 /* Style the tab content (and add height:100% for full page content) */
 .tabcontent {
   color: rgb(99, 99, 99);
   display: none;
   padding: 100px 20px;
   height: 100%;
   max-width: 60%;
   margin: 0 auto;
 }
 
 #Home {background-color: rgb(255, 215, 215);}
 #News {background-color: rgb(220, 248, 220);}
 #Contact {background-color: rgb(222, 222, 252);}
 #About {background-color: rgb(255, 242, 218);}

 .home{
   background-color: rgb(255, 215, 215);
 }
 .news{
   background-color: rgb(220, 248, 220);
 }
 .contact{
   background-color: rgb(222, 222, 252);
 }
 .about{
   background-color: rgb(255, 242, 218);
 }

 